/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
img {
    width:100%;
}
header {
    background-color: #ff6900;
}
.container {
    width: 70%;
    margin: auto;
}
.flex-container {
    display: flex;
    padding: 5px;

}
.left-part {
height:50px;
width: 100px;
background-color: blue;
}
.central-part {
    height:50px;
    width: 100px;
    background-color: blueviolet;
    flex-grow: 1;
}
.right-part {
    height:50px;
    width: 100px;
    background-color: red;
}
.block {
    width: calc(100% / 3);
    height: 400px;
    margin: 10px auto;
    background-color: green;
    border: 1px solid black;
}
.blocks {
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
}
footer {
    width: 100%;
    height:100px;
    background-color: black;
    color: white;

}
.flex-footer {
    justify-content: space-between;
}