/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
}
img {
    width:100%;
}
header {
    background-color: #ff6900;
    padding: 10px 0;
    font-size: 1.4rem;
    position:fixed;
    top:0;
    left:0;
    z-index: 2;
    width: 100%;

}
.container {
    width: 70%;
    margin: auto;
}
.flex-container {
    display: flex;
    padding: 5px;

}
.central-part {
    width: 100px;
    flex-grow: 1;
    text-align: center;
}
.right-part {
    color: white;
    text-align: right;
    padding-top: 10px;
}
.central-part > img {
    width: 40%;
    vertical-align: middle;
}
.left-part {
    padding-top:10px;
}
header i:hover {
    color: #302dd8;
    cursor: pointer;
}
a {
    color: white;
    text-decoration: none;
}
a:hover{
    color:#302dd8

}
footer {
    padding-top: 10px;
}
.block {
    width: calc(100% / 3);
    margin: 10px auto;
    position: relative;
    padding: 5px;
    overflow: hidden;
}
.blocks {
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
}
footer {
    width: 100%;
    height:100px;
    background-color: black;
    color: white;

}
.flex-footer {
    justify-content: space-between;
}
.heart {
    position:absolute;
    right: 0;
    top:15px;
    font-size: 3rem;
    padding: 0 5px;
    background-color: white;
    cursor: pointer;
}
.heart:hover {
    color: red;
}
.promo {
    position:absolute;
    font-size: 1.7rem;
    padding: 2.5px 5px;
    color: white;
}
.red {
    background-color: red;
    left: 5px;
    bottom: 100px;
}
.green {
    background-color: green;
    left: 60px;
    bottom: 100px;
}
.text {
    width: 100%;
    padding: 5px 0 0 0;
}
.text :nth-child(4) {
    color: red;
    font-size:1.2rem;
    font-weight:bold;
}
.price {
    text-decoration: line-through;
    font-size:1.2rem;
    font-weight:bold;
}
.picture {
    position: relative;
}
second-picture{
    top: 0;
    right: 0;
}
.first-picture {
    position: absolute;
    top: 0;
    right: 0;
}
.block:hover .first-picture {
    display: none;
}
.footer1 h3 {
    font-size: 1.6rem;
    margin-bottom: 30px;
}
.footer1 a {
    font-size: 1.2rem;
    margin: 0 5px;
}
.footer2 {
    font-size: 1.6rem;
    text-align: center;
}
.footer2 i {
    font-size: 2.5rem;
    margin: 10px 3px;
}